/*κ³ μ •*/
*{margin: 0; padding: 0; box-sizing: border-box;}
@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family: "Noto Sans KR";
  font-size: 16px;
  line-height: 22px;
  color: #233b5f;
  background-color: #f9f8ed;   
}
li{list-style: none;}
a{text-decoration: none; color: #233b5f;}
/*navbar_top*/
#navbar_top_wrap{
  width: 100%;
  height: 42px;
  background-color: #fbb040;
  display: flex;       
}
#navbar_top{
  display: flex;
  width: 1200px;
  height: 42px;
  margin: auto;
  padding: 10px 0;
  justify-content: flex-end;             
}
.navbar_login{
  display: flex;
  width: 300px; 
  height: 22px;             
}
.navbar_login li a{
  display: block;
  font-size: 14px;
  color: #f9f8ed;
  font-weight: 500;
  opacity: 0.8;
  padding: 0px 10px;
}
.navbar_login li a:hover{
  opacity: 1;
  font-weight: 700;
}
.navbar_search{
  width: 130px;
  height: 22px;
  padding-left: 10px;        
}
.navbar_search input{
  border: 1px solid #f9f8ed;
  border-radius: 50px;
  height: 22px;
  width: 130px;    
  outline: 0;
  background: url(../images/search.png) no-repeat #f9f8ed 8px center;
  padding-left: 35px    
}
.navbar_search input::placeholder{
  color: #fbb040;
  font-size: 14px;
}
/*navbar_main*/
#navbar_main_wrap{
  width: 100%;
  height: 123px;
  background-color: #f9f8ed;
  display: flex;
}
#navbar_main{
  width: 1200px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.navbar_main_logo{
  width: 250px;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}
.navbar_main_logo h4{
  font-family: "ELAND_Nice_M";
  font-size: 30px;
}
.navbar_main_logo h5{
  font-family: "ELAND_Nice_M";
  font-size: 14px;
}
.navbar_nav{
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.navbar_nav> li{
  position: relative;
}
.navbar_nav> li> a{
  display: inline-block;
  font-family: "ELAND_Nice_M";
  font-size: 18px;
  padding-bottom: 22px;    
  cursor: pointer;
}
.navbar_nav> li> a:hover{
  color: #fbb040;
}
.nav_sub{
  position: absolute;
  width: 100px;
  display: hidden;
  visibility: hidden;        
  z-index: 4; 
  background-color: #f9f8ed;
  padding-top: 5px;
  padding-bottom: 5px; 
  border-radius: 4px;    
  opacity: 0;   
}
.nav_sub li a{
  display: block;    
  font-family: "Noto Sans KR";  
  font-size: 14px;
  padding-left: 10px;
  font-weight: 700;
}
.nav_sub li a:hover{
  color: #fbb040;
}
.nav_sub::before{
  top:-10px;
  content: '';
  position: absolute;   
  left: calc(10%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f9f8ed;
  z-index: 3;        
}
.show .nav_sub{
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 0.2s linear;
}
.show> a{
  color: #fbb040;
}
/*main*/
main{
  width: 100%;
  height: 500px;
  background: url(../images/main_bg.jpg) no-repeat;
}
.intro{
  width: 1200px;
  height: 500px;
  margin: auto;
  padding: 100px 0;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.intro h1{
  font-family: "ELAND_Nice_M";
  font-size: 40px;
  color: #f9f8ed;  
}
.intro p{
  color: #f9f8ed;
  font-size: 16px;  
  font-weight: 500; 
  text-align: center; 
}
.tabnav{
  display: flex;  
}
.tabnav li{  
  width: 150px;
  height: 35px;
  text-align: center;
}
.tabnav a{
  display: block;
  color: #f9f8ed;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0px 3px 0px ;  
  border: #f9f8ed 2px solid;
}
.tabnav a:hover{
  background-color: #f9f8ed;
  color: #233b5f;
  font-weight: 700;
}
.tabnav .active{
  background: #f9f8ed;
  color: #233b5f;
  font-weight: 700;
}
/*section00*/
#section00{
  width: 1200px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section00 h1{
  font-size: 60px;
  font-family: "ELAND_Nice_M";
  padding: 50px 0 0 60px;
  margin-right: 20px;  
  background: url(../images/activity_icon.png) no-repeat;
  height: 80px;
}
#section00 p{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
/*section01*/
#section01{
  width: 1200px;  
  margin: 0 auto 60px; 
}
.section01_title{
  width: 1200px;
  height: 88px;
  position: relative;
  margin-bottom: 60px;
}
#section01 h1{
  width: 312px;
  height: 88px;
  background: url(../images/section_title.png) no-repeat;
  font-family: "ELAND_Nice_M";
  font-size: 30px;
  color: #f9f8ed;
  position: absolute;
  left: 50%;
  margin-left: -156px; 
  padding: 40px 0px 0px 100px;   
}
.section01_left{   
  width: 1200px;
  margin-bottom: 150px;
  height: 450px;
  display: flex;
}
.section01_left_img{
  width: 600px;
  height: 450px;
  position: relative;
}
.section01_left_bg{
  background-color: #7d7309;
  width: 600px;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 31;
}
.section01_left_text{
  width: 600px;
  height: 450px;
  padding: 200px 100px ;  
}
.section01_left_png{
  z-index: 33;
  position: absolute;
  top: 0;
  right: 50px;
}
.section01_left_text h6{
  font-size: 24px;
  font-weight: 900;  
}
.section01_left_text h5{
  font-size: 24px;
  font-weight: 900;
  padding-top: 10px;
}
.section01_left_text h4{
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
}
.section01_left_text h3{
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
}
.section01_left_text h2 a{
  display: inline-block;
  background-color: #233b5f;
  color: #f9f8ed;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.section01_left_text h2 a:hover{
  background-color: #fbb040;
}
.section01_right{   
  width: 1200px;
  margin-bottom: 150px;
  height: 450px;
  display: flex;
}
.section01_right_img{
  width: 600px;
  height: 450px;
  position: relative;
}
.section01_right_bg{
  background-color: #714e29;
  width: 600px;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 31;
}
.section01_right_text{
  width: 600px;
  height: 450px;
  padding: 200px 100px;
  text-align: right;
}
.section01_right_png{
  z-index: 33;
  position: absolute;
  top: 0;
  left: 50px;
}
.section01_right_text h6{
  font-size: 24px;
  font-weight: 900;  
}
.section01_right_text h5{
  font-size: 24px;
  font-weight: 900;
  padding-top: 10px;
}
.section01_right_text h4{
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
}
.section01_right_text h3{
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
}
.section01_right_text h2 a{
  display: inline-block;
  background-color: #233b5f;
  color: #f9f8ed;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.section01_right_text h2 a:hover{
  background-color: #fbb040;
}
.section01_left_bg_3{
  background-color: #fbb040;
  width: 600px;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 31;
}
.section01_right_bg_4{
  background-color: #e34f30;
  width: 600px;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 31;
}
/*section02*/
#section02{
  width: 1200px;  
  margin: 0 auto 60px; 
}
.section02_title{
  width: 1200px;
  height: 88px;
  position: relative;
  margin-bottom: 60px;
}
#section02 h1{
  width: 312px;
  height: 88px;
  background: url(../images/section_title.png) no-repeat;
  font-family: "ELAND_Nice_M";
  font-size: 30px;
  color: #f9f8ed;
  position: absolute;
  left: 50%;
  margin-left: -156px; 
  padding: 40px 0px 0px 100px;   
}
.section02_left{   
  width: 1200px;
  margin-bottom: 150px;
  height: 450px;
  display: flex;
}
.section02_left_img{
  width: 600px;
  height: 450px;
  position: relative;
}
.section02_left_bg{
  background-color: #b71f26;
  width: 600px;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 31;
}
.section02_left_text{
  width: 600px;
  height: 450px;
  padding: 200px 100px ;  
}
.section02_left_png{
  z-index: 33;
  position: absolute;
  top: 0;
  right: 50px;
}
.section02_left_text h6{
  font-size: 24px;
  font-weight: 900;  
}
.section02_left_text h5{
  font-size: 24px;
  font-weight: 900;
  padding-top: 10px;
}
.section02_left_text h4{
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
}
.section02_left_text h3{
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
}
.section02_left_text h2 a{
  display: inline-block;
  background-color: #233b5f;
  color: #f9f8ed;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.section02_left_text h2 a:hover{
  background-color: #fbb040;
}
.section02_right{   
  width: 1200px;
  margin-bottom: 150px;
  height: 450px;
  display: flex;
}
.section02_right_img{
  width: 600px;
  height: 450px;
  position: relative;
}
.section02_right_bg{
  background-color: #4f4b4c;
  width: 600px;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 31;
}
.section02_right_text{
  width: 600px;
  height: 450px;
  padding: 200px 100px;
  text-align: right;
}
.section02_right_png{
  z-index: 33;
  position: absolute;
  top: 0;
  left: 50px;
}
.section02_right_text h6{
  font-size: 24px;
  font-weight: 900;  
}
.section02_right_text h5{
  font-size: 24px;
  font-weight: 900;
  padding-top: 10px;
}
.section02_right_text h4{
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
}
.section02_right_text h3{
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
}
.section02_right_text h2 a{
  display: inline-block;
  background-color: #233b5f;
  color: #f9f8ed;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.section02_right_text h2 a:hover{
  background-color: #fbb040;
}
.section02_left_bg_3{
  background-color: #233b5f;
  width: 600px;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 31;
}
.section02_right_bg_4{
  background-color: #00a984;
  width: 600px;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 31;
} 
/*ν‘Έν„°*/
footer{
  width: 100%;
  height: 308px;
  background: url(../images/footer.png);
}
#footer_inner{
  width: 1200px;
  height: 308px;
  margin: auto;
  box-sizing: border-box;
}
.f_nav{
  padding-top: 50px;
}
.f_nav li{
  float: left;
}
.f_nav li a{
  font-size: 14px;
  color: #f9f8ed;
  padding-right: 20px;
  font-weight: 600;
  opacity: 0.7;
}
.f_nav li a:hover{
  opacity: 1;
}
.footer_wrap{
  clear: both;
  width: 1200px;
  margin: 50px auto 0;
}
.footer_wrap img{
  float: left;
}
.wrap1{
  float: left;
  margin-left: 100px;
}
.wrap1 p{
  color: #f9f8ed;
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 20px;
}
.wrap1_text li{
  color: #f9f8ed;
  font-size: 12px;
  font-weight: 300;
}
.wrap1 h6{
  color: #f9f8ed;
  font-size: 12px;
  padding-top: 20px;
  font-weight: 300;
}
.wrap2{
  float: right;
}
.wrap2 p{
  color: #f9f8ed;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
}
.wrap2_text li{
  color: #f9f8ed;
  font-size: 12px;
  font-weight: 300;
  padding-left: 20px;
  
}
.wrap2_text li:nth-child(1){
  background: url(../images/tel.png) no-repeat 0 6px;
}
.wrap2_text li:nth-child(2){
  background: url(../images/email.png) no-repeat 0 6px;
}
.icon{
  padding-top: 20px;
}
.icon li{
  float: left;
}
.icon li a{
  padding-right: 10px;
  position: relative;
  display: inline-block; 
}
.icon_hover{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.icon_hover:hover{
  opacity: 1;
  transform: all 1s;
}
